android {
    productFlavors {
        [app-name] {
            dimension "client"
            javaCompileOptions {
                annotationProcessorOptions {
                    arguments = ["resourcePackageName": "digital.paynetics.phos"]
                }
            }
            applicationId "[app-package]"
        }
    }
}