html {
    padding: 16px;
    background: white;
    -moz-user-select:none; /* firefox */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE*/
    user-select: none; /* Standard syn*/
}

body {
    margin: 0;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    overflow-y: hidden;
}

.segmented-control {
    text-align: center;
}

.drop-zone-container {
    background: white;
    padding: 0;
    margin: 0;
}

.props-grid {
    overflow-y: scroll;
    height: 340px;
    bottom: 0;
}

.colors-grid {
    height: 600px;
    overflow-y: scroll;
}

.save-group {
    background: black;
}

